<ion-view view-title="About Us">
  <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>We Belive!!</h2>
            </div>
            <div class="item item-text-wrap">
                <p>The World's Best Things are free. We are the team of young enthusiasts who believe books may be one of those things. Our purpose is to save your time and money. On this websourse you would find only the best reads with no th@sh or ad. Interested? Stay with us and happy reading! ;)</p>
            </div>
      </div>
     
  </ion-content>
</ion-view>
