<ion-view view-title="Contact Us">
  <ion-content>
        <div class="card">
          </div>
            <div>
                <div class="button-bar">
                    <a type="button" class="button button-positive" href="tel:+85212345678"><i class="icon ion-android-call"></i> Call</a>
                    <a type="button" class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
                    <a type="button" class="button button-balanced" href="mailto:confusion@food.net"><i class="icon ion-android-mail"></i> Email</a>
                </div>
            </div>
        </div>
        <button type="button" class="button button-positive button-block"
          ng-click="feedback()">Your Feedback</button>
  </ion-content>
</ion-view>
